<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title> 
    <link rel="stylesheet" href="/stylesheets/about.css">
    
    <link rel="stylesheet" href="/stylesheets/finalNav.css.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <div class="container-fluid cbox">

       
        <div id="mySidebar" class="sidebar">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
           
            <a href="/">
                <i class="fa fa-home"></i>
                Home
            </a>
            <a href="search">
                <i class="fa fa-search"></i>
                Search Donor
            </a>
            <a href="register">
                <i class="fa fa-donate"></i>
                Be Donor
            </a>
    
            <a href="#team">
                <i class="fas fa-users-cog"></i>
                Team
            </a>
            <a href="about">
                <i class="fa fa-crosshairs"></i>
                Our Aim
            </a>
          </div>
          
          <div class="t">
            <h3>GIO
                <span> Plasma</span>
            </h3>
        </div>


          <div id="main">
            <button class="openbtn" onclick="openNav()">&#9776;</button>
          </div>

        <div class="container">
            <div class="row py-5">
                <div class="col-12 col-sm-6 text-center">
                    <a href="#" id="socialbtn" class="c tag">Social Awareness</a>
                </div>
                <div class="col-12 col-sm-6 text-center">
                    <a href="#" id="mythsbtn" class="c">Myths</a>
                </div>
            </div>

            <div class="row" id="social">
                <h4 class="col-12 text-center p-1">SOCIAL AWARENESS</h4>
                <p class="col-12 col-sm-10 col-md-8  offset-0 offset-sm-1 offset-md-2 text-justify py-4">
                   <span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet amet mollitia quae aspernatur architecto quod. Possimus repellendus ab, officia consectetur deserunt repudiandae quam non voluptatum sit explicabo. Illo, vero impedit.
                    </span>
                    <span class="d-block py-4">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas amet provident sed magni. In, porro!
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta non, fugiat officiis iste amet facere alias excepturi est vitae quo. Rem architecto tenetur numquam totam cum maxime! Illo, pariatur libero?
                    </span>
                </p>
            </div>

            <div class="row pb-4" id="myths">
                 <div class="col-5 col-md-4 offset-0 offset-sm-1">
                     <img src="https://cdn.pixabay.com/photo/2016/10/24/03/37/heart-1765298_1280.png" class="img-fluid" alt="img" rounded>
                 </div>
                 <div class="col-7 col-sm-6">
                     <h4 class="row pt-0 pt-sm-4">
                         MYTH
                     </h4>
                     <p class="row">
                         If I donate blood I am suspectible to contact diseases like H+.
                     </p>
                     <h4 class="row pt-0 pt-sm-2">FACT</h4>
                     <p class="row">" There is substitute for human blood "</p>
                 </div>

            </div>
        </div>
      
    </div>
</body>
<script src="/js/about.js"></script>
<script src="/js/dashBoard.js"></script>
</html>