@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');


body{
    min-height: 100vh;
    min-width: 100vw;
    background-image: linear-gradient(45deg, rgba(23, 23, 23, 0.62), rgba(0, 0, 0, 0.72)), url(
     'https://cdn.pixabay.com/photo/2017/11/11/21/19/drink-2940555_1280.jpg');
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: 100% 100%;
    color: aliceblue;
}

.registerbox{
    color: white;
    
}

.tittle{
    font-size: 28px;
    letter-spacing: 1.32px;
    font-weight: 500;
    font-family: 'Zen Dots';
}

.registerbox form{
    font-weight: 0;
}
 

input,select ,textarea{
    width: 100%;
    outline: none;
    border: none;
    background: none;
    padding: 3px;
    border: 1px solid rgba(147, 147, 147 ,0.4);
    color: rgb(255, 255, 255);
    border-radius: 3px;
}

input:hover, input:focus , select:hover , select:focus, textarea:hover , textarea:focus{
    background: linear-gradient(rgba(255, 255, 255,0.12),rgba(255, 255, 255,0.12));
    border: white 1px solid;
}

::placeholder{
    color: white;
    opacity: 0.5;
}

#g{
    border: 2px solid red;
    color: aliceblue;
    font-size: 18px;
}

#g:hover{
    background: green;
    border: none;
    border-radius: 10px;
    transition: all 0.2s linear;
    font-weight: 600;
    color: rgb(220, 220, 220);
}